<%- include("partials/header.ejs") %>
<%- include("partials/menu.ejs") %>
<body>
    <div class="containerAboutEvent">
        <div class="aboutEventTop">
            <center>
                <img style="max-width: 400px; max-height: 400px;" src="data:image/jpeg;base64,<%= event.imagem %>">
            </center>
        </div>
        <div class="aboutEventTop">
            <h2>Nome do evento</h2>
            <h3><%= event.Nome_evento %></h3>
        </div>
        <div class="clear"></div>
    </div>
</body>
<%- include("partials/footer.ejs") %>
<script>

</script>
</html>