<%- include("partials/header.ejs") %>
<% if(conf == 1){ %>
    <%- include("partials/menu2.ejs") %>
<% }else{ %>
    <%- include("partials/menu.ejs") %>
<% } %>
<br>
<body>
    <h1 style="text-align: center;">Editar cidade</h1>
    <br>
    <div class="boxCategory">
        <form method="post" action="/cidadeUpdate" onsubmit="verifyForm(event, this)">
            <fieldset style="padding: 30px;">
                <label for="nomeCidade">Nome:</label><br>
                <input type="text" value="<%- cidade.nome %>" id="nomeCidade" name="nomeCidade" style="width: 700px;">
                <br>
                <br>
                <input name="id" id="id" type="hidden" value="<%- cidade.id %>">
                <center>
                    <input type="submit" class="btnMenu" value="Criar">
                </center>
            </fieldset>
        </form>
    </div>
</body>
<%- include("partials/footer.ejs") %>
<script>
    function verifyForm(e, form){
        e.preventDefault();

        let nome = document.getElementById("nomeCidade").value;

        if(nome != ""){
            form.submit();
        } else{
          window.alert("Coloque o nome da categoria");  
        }
    }
</script>
</html>