<%- include("partials/header.ejs") %>
<body>
    <% if(conf == 1){ %>
        <%- include("partials/menu.ejs") %>
    <% }else{ %>
        <%- include("partials/menu2.ejs") %>
    <% } %>
    <div class="container">
        <form method="post" action="/editEventSave" onsubmit="confForm(event, this)" enctype="multipart/form-data">
            <fieldset>
                <legend>Registrar evento</legend>
                <div class="colReUser">
                    <h1>1. informações do local</h1>
                    <h3>Informe o endereço</h3>
                    <br>
                    <br>
                    <label for="enderEvent">Informe o endereço ou o nome do local do evento:</label><br>
                    <input type="text" name="enderEvent" id="enderEvent" value="<%= event.endereco %>" placeholder="Endereço ou o nome do local ...">
                    <br>
                    <br>
                    <label for="num">Número:</label><br>
                    <input type="text" name="num" id="num" value="<%= event.numero %>" placeholder="Confirme o seu e-mail ...">
                    <br>
                    <br>
                    <label for="cep">CEP:</label><br>
                    <!-- pattern="[0-9]{5}-[0-9]{3}" -->
                    <input type="text" name="cep" id="cep" value="<%= event.cep %>" maxlength="9" placeholder="00000-000">
                    <br>
                    <br>
                    <label for="LocalDoEvento">Local do evento:</label><br>
                    <input type="text" name="LocalDoEvento" id="LocalDoEvento" value="<%= event.LocalDoEventofff %>" placeholder="Coloque a avenida ou a rua ...">
                    <br>
                    <br>
                    <label for="bairro">Bairro:</label><br>
                    <input type="text" name="bairro" id="bairro" value="<%= event.bairro %>" placeholder="Informe o bairro ...">
                    <br>
                    <br>
                    <label for="city">Cidade:</label><br>
                    <select name="city" id="city" class="categorySelector">
                        <% cidades.forEach(cidade => { %>
                            <option name="<%- cidade.id %>" id="<%- cidade.id %>"><%- cidade.nome %></option>
                        <% }) %>
                    </select>
                    <br>
                    <br>
                    <label for="est">Estado:</label><br>
                    <input type="text" name="est" id="est" value="<%= event.estado %>" placeholder="Informe o estado ...">
                    <br>
                    <br>
                </div>
                <div class="colReUser">
                    <h1>2. informações básicas</h1>
                    <h3>Adicione as principais informações do evento.</h3>
                    <br>
                    <br>
                    <label for="eventName">Nome do evento</label><br>
                    <input type="text" name="eventName" id="eventName" value="<%= event.Nome_evento %>" placeholder="Nome do evento ...">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <label for="imgEvent" style="border: 1px solid black; border-radius: 10px;cursor: pointer; padding: 100px;">Imagem de divulgação</label>
                    <input type="file" name="imgEvent" id="imgEvent" accept=".JPEG, .JPG, .PNG" style="display: none;">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <p><b>Aceitamos "JPEG", "PNG" e "JPG" de até 70KB.</b></p>
                    <br>
                    <div style="padding: 0px 20px 0px 0px;">
                        <% if(event.dvPago == 1){ %>
                            <input type="checkbox" name="eventPago" id="eventPago" class="responsability" checked>
                            <label for="eventPago" style="font-size: 18px;">
                                Divulgação paga
                            </label>
                        <% } else { %>
                            <input type="checkbox" name="eventPago" id="eventPago" class="responsability">
                            <label for="eventPago" style="font-size: 18px;">
                                Divulgação paga
                            </label>
                        <% } %>
                    </div>
                    <br>
                    <br>
                    <h3>Classifique o seu evento</h3>
                    <br>
                    <br>
                    <label for="aboutEvent">Assunto do evento:</label>
                    <input type="text" class="aboutEvent" id="aboutEvent" name="aboutEvent" value="<%= event.assunto %>" placeholder="assunto do evento ...">
                    <br>
                    <br>
                    <br>

                    <label for="categorySelector">Categoria</label><br><br>
                    <select id="category" class="categorySelector">
                        <% category.forEach(category => { %>
                            <option value="<%= category.name %>" 
                                <%= event.categoriaId == category.id ? 'selected' : '' %>>
                            </option>
                        <% }) %>                    
                    </select>

                    <br>
                    <br>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <center>
                    <h1>3. Descrição do evento</h1>
                    <br>
                    <br>
                    <h3>Conte todos os detalhes do evento e a sua programação</h3>
                    <br>
                    <br>
                    <textarea name="descriptionEvent" id="descriptionEvent" style="width: 90%; height: 600px;">
                        <%- event.detalhesEvento %>
                    </textarea>
                    <br>
                    <br>
                </center>
                <br>
                <br>
                <br>
                <br>
                <center>
                    <h1>4. Data e horário</h1>
                    <br>
                    <br>
                    <h3>Informe quando o seu evento acontecerá</h3>
                </center>
                <br>
                <br>
                <div class="col4">
                    <center>
                        <label for="dtInit">Data de início</label><br>
                        <input type="date" name="dtInit" value="<%= new Date(event.dataInicio).toISOString().split('T')[0] %>"" id="dtInit" class="date">
                    </center>
                </div>
                <div class="col4">
                    <center>
                        <label for="dtEnd">Data de término</label><br>
                        <input type="date" name="dtEnd" value="<%= new Date(event.dataFim).toISOString().split('T')[0] %>" id="dtEnd" class="date">
                    </center>
                </div>
                <div class="col4">
                    <center>
                        <label for="timeInit">Horário de início</label><br>
                        <input type="time" name="timeInit" value="<%= event.horaInicio %>" id="timeInit" class="date">
                    </center>
                </div>
                <div class="col4">
                    <center>
                        <label for="timeEnd">Horário de término</label><br>
                        <input type="time" name="timeEnd" value="<%= event.horaFim %>" id="timeEnd" class="date">
                    </center>
                </div>
                <div class="clear"></div>
                <br>
                <br>
                <br>
                <br>
                <center>
                    <h1>5. Sobre o produtor</h1>
                    <br>
                    <br>
                    <h3>Conte um pouco sobre você ou sua empresa.</h3>
                </center>
                <br>
                <br>
                <div style="padding: 0px 85px 0px 85px;">
                    <label for="nameEventP">Nome:</label><br>
                    <input type="text" name="nameEventP" value="<%= event.produtor %>" id="nameEventP" style="width: 700px;">
                </div>
                <br>
                <br>
                <div style="padding: 0px 85px 0px 85px;">
                    <label for="aboutEventP">Descrição:</label><br><br>
                </div>
                <center>
                    <textarea id="aboutEventP" name="aboutEventP" style="width: 90%; height: 600px;">
                        <%= event.sobreProdutor %>
                    </textarea>
                </center>
                <div class="clear"></div>
                <br>
                <br>
                <div style="padding: 0px 85px 0px 85px;">
                    <input type="checkbox" name="responsability" id="responsability" class="responsability" checked>
                    <label for="responsability" style="font-size: 18px;">
                        Este serviço é fornecido conforme os 
                        <a href="#" style="text-decoration: underline;">
                            termos e condições
                        </a> 
                        estabelecidos neste documento, os quais regem o seu uso. 
                        Ao acessar ou utilizar este serviço, você concorda com esses termos e condições.</label>
                </div>
                <br>
                <br>
                <center>
                    <input type="hidden" value="<%= event.id %>" name="id">
                    <button type="submit" class="btnConf" id="btnConf">Salvar alterações</button>
                </center>
                <br>
                <br>
            </fieldset>
        </form>
        <br>
        <br>
        <div class="clear"></div>
    </div>
</body>
<%- include("partials/footer.ejs") %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: "pt_BR",
        selector: "#descriptionEvent, #aboutEventP",
        license_key: 'gpl'
    })

    function confForm(e, form){
        e.preventDefault();

        let conf  = window.confirm("Tem certeza que quer salvar as alterações ?");

        if(conf){
            if(responsability.checked == true){
                responsabilityOk = 1;

                form.submit();
            }else {
                console.log("Deu erro aqui");
            }
        }
    }
</script>
</html>